<!-- <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 a1">
          <i class="fa fa-whatsapp" style="font-size: 30px; margin-left: 500px">
            + 91 9312644403</i
          >
        </div>
      </div>
    </div>
  </div> -->
  
  <nav class="navbar navbar-expand-lg navbar-light nav">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <img src="assets/logo.jpg" />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
              style="
                color: white;
                margin-left: 20px;
                font-size: 12px;
                font-weight: bold;
              "
              >TIMEPIECES</a
            >
          </li> -->
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="#access"
              style="color: white; font-size: 12px; font-weight: bold; margin-left: 30px;"
              >WATCH FINDER</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#access"
              style="color: white; font-size: 12px; font-weight: bold; margin-left: 20px;"
              >ACCESSORIES
            </a>
          </li>
          <!-- <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              style="color: white; font-size: 12px; font-weight: bold"
              >LEGACY
            </a>
          </li> -->
          <li class="nav-item">
            <a
              class="nav-link"
              href="#sale"
              style="color: white; font-size: 12px; font-weight: bold; margin-left: 20px;"
              >STORE 
            </a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn bg-danger" style=" margin-left: 20px;" ><a href="#sale" style="color: black;text-underline-offset: 10px;">Sale</a></button>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#cont"
              style="color: white; font-size: 12px; font-weight: bold; margin-left: 20px;"
              >CONTACT AS
            </a>
          </li>
          <!-- <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              style="color: white; font-size: 12px; font-weight: bold"
              >BLOG
            </a>
          </li>
          <li></li> -->
  
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <i class="fa fa-search"></i>
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
          </form>
          <li>
            <i
              class="fa fa-user"
              style="font-size: 36px; color: white; margin-left: 30px"
            ></i>
          </li>
          <li>
            <i
              class="fa fa-heart"
              style="font-size: 36px; color: white; margin-left: 40px"
            ></i>
          </li>
          <li>
            <i
              class="fa fa-shopping-cart"
              style="font-size: 36px; color: white; margin-left: 50px"
            ></i>
          </li>
        </ul>
      </div>
    </div>
  </nav>
