<div class="container-fluid">
    <div class="col-md-12 bg-dark " id="cont">
      <div class="row">
        <div class="col-md-8">
          <footer class="bg-dark">
            <h1 style="color: white; text-align: center;">Contact Us</h1>
            <p style="color: white; text-align: center;">Vrindavan building,176 W Street<br>
              name, Thrivandram,India<br><br>
              (+91)9876546744<br><br>
              vrindawatch@gmail.com</p>
          </footer>
        </div>
        <div class="col-md-4 ">
          <footer class="bg-dark foot1">
    <i class="fa fa-whatsapp" style="font-size:30px;color: white;margin-top: 20px;"></i>
    <i class="fa fa-instagram" style="font-size:30px;color: white;margin-top: 20px; margin-left:30px;"></i>
    <i class="fa fa-facebook" style="font-size:30px;color: white;margin-top: 20px; margin-left: 20px;"></i>
    <i class="fa fa-twitter" style="font-size:30px;color: white;margin-top: 20px; margin-left: 20px;"></i>
          </footer>
        </div>
      </div>
      </div>
    </div>
