

    .a2{
        width: 50px;
    }
    
    .container{
        width:100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .effect{
        position: relative;
        margin-bottom: 30px;
        overflow: hidden;
    
    }
    
    .effect .effect-img{
        font-size: 0;
        overflow: hidden;
    }
    .effect .effect-img img{
       width: 100%;
       height: auto;
       transition: all .3s;
    }
    .effect:hover .effect-img img{
        transform: scale(1.2);
    }
    .effect .effect-text{
        position: absolute;
        top:15px;
        right:15px;
        bottom: 15px;
        left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background:rgba(0,0,0,.5);
        
        overflow: hidden;
        transition: all .3s ease-in;
        opacity: 0;
    
    
    }
    .effect .effect-text .inner{
        position: absolute;
        padding:15px ;
        z-index: 1;
    
    }
    .effect .effect-text:before
    .effectc.effect-text:after{
        position: absolute;
        display: block;
        width: 100%;
        height: 0;
        content: '';
    }
    .effect .effect-text:before{
        border-top:3px solid #ffffff ;
        border-right: 3px solid #ffffff;
        left:100%;
        top: 0;
    }
    .effect .effect-text::after{
        border-top:3px solid #ffffff ;
        border-right: 3px solid #ffffff;
        left:100%;
        top: 0;
    }
    .effect:hover .effect-text{
        opacity: 1; 
    }
    .effect:hover .effect-text:after,
    .effect:hover .effect-text:before{
        animation-delay:.1s;
        animation-duration:.5s ;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    
    }
    .effect:hover .effect-text:after{
        animation-name:left-up ;
    }
    .effect:hover .effect-text:before{
        animation-name:right-dn ;
    }
    
    .btn1{
        background-color: white;
        margin-top: -500px;
        margin-left: 100px;
        font-weight: bold;
    }
    .btn2{
        background-color:white;
        margin-top: -500px;
        margin-left: 80px;
        font-weight: bold;
    }
        
    #img10{
        height: 190px;
    
    }
    .c1{
        background-color: rgb(194, 192, 209);
    }
    .foot1{
        height: 200px;
    }
       
       
        
           
        
        
    
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    